body{
  font-family: "montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid{
  padding: 3% 15% 7%;
  /* it is used to provide proper space from left so that it looks clean rather than left allign. */
}
h1{
  font-family: 'montserrat';
  /* for montserrat black we use font weight = 900 */
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: "montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "montserrat";
  font-weight: bold;
}
p{
  color: #8f8f8f;
}
/* navigation bar */
.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "montserrat";
  font-weight: lighter;
}

/* download buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image{
  width: 15%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* features section */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;

}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color:#ff4c68;
}

/* testimonial section */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width:15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 2% 3%;
}

/* cta section */
#cta{
  background-color: #ef8172;
  color: white;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading{
  font-family: "montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer section */
#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}


@media (max-width: 992px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
